<div class="inner">
  <%# if user_signed_in? %>
  <div class="greeting">
    こんにちは、●●さん
    <%#= link_to "ユーザーネームさん", class: :greeting__link %>
  </div>
  <%# end %>
  <div>ログイン</div>
  <div>ユーザー新規登録</div>
</div>
<div>MENU
  <div>顧客新規登録</div>
  <div>検索</div>
</div>
<div>※検索一覧結果が並ぶ</div>