<div class="card__body">
  <%= link_to image_tag(hair_removal.image, class: :removal__img, size: '240x180' ), "#", method: :get %>
  <%= link_to "#{hair_removal.treatment_date}", "#", class: :removal_date %>
</div>


