.edit-main {
  background-image: image-url('background.jpg');
  position: relative;
  padding : 0;
  opacity : 0.8;
  max-height: fit-content;
  color: white;
  padding-left: 20px;
  padding-bottom: 30px;
}

.edit-title {
  color: red;
  font-size: 25px;
  padding-top: 20px;
}