.log-out {
  background-color: black;
  color: red;
  font-size: 15px;
  padding-left: 1200px;
  padding-top: 25px;
  font-weight: bold;
  margin: auto;
}

.inner {
  background-image: image-url('header.jpg');
  background-size: cover;
  height: 550px;
}

.greeting{
  letter-spacing: 5px;
  color: white;
  padding-left: 20px;
  font-size: 40px;
  font-weight: bold;
}

.greeting__link {
  color: red;
}

a {
  text-decoration:none; 
}

.menu-top {
    background-color: black;
    height: 340px;
    display: flex;
    justify-content:center
}

.menu-bottom {
  background-color: black;
  max-height: fit-content;
}

.customer-font {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding-left: 20px;
}

.customer-list {
  font-size: 30px;
  color: white;
  padding-left: 40px;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}

.copy-right {
  color: white;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.btn-new-customer {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 25px 21px;   /* 余白       */
  background    : goldenrod;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #ffff1a;    /* 枠の指定 */
  margin-right: 80px;
  margin-top: 150px;
}
.btn-new-customer:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : goldenrod;     /* 背景色     */
  background    : #000000;     /* 文字色     */
}

.btn-search-customer {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 25px 21px;   /* 余白       */
  background    : goldenrod;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #ffff1a;    /* 枠の指定 */
  margin-left: 80px;
  margin-top: 150px;
}
.btn-search-customer:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : goldenrod;     /* 背景色     */
  background    : #000000;     /* 文字色     */
}

.btn-log-out {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 25px 21px;   /* 余白       */
  background    : gray;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}
.btn-log-out:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : red;     /* 背景色     */
  background    : #000000;     /* 文字色     */
}

.removal-index {
  background-image: image-url('black.jpg');
  background-size: cover;
  color: white;
  padding-bottom: 30px;
}

.title-removal {
  color: red;
  padding-left: 20px;
  padding-top: 20px;
}