.back-img {
  position: relative;
  padding : 0
}
.back-img2 {
  opacity : 1;
}

.new-removal {
  background-image: image-url('black.jpg');
  color: white;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-top: 20px;
}

.new-removal-main{
  padding-left: 20px;
}

.shinki {
  color: red;
}