.back-img {
  position: relative;
  padding : 0
}
.back-img2 {
  opacity : 1;
}

.new-removal {
  background-image: image-url('black.jpg');
  color: white;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-top: 20px;
}

.new-removal-main{
  padding-left: 20px;
}

.shinki {
  color: red;
}

.wrapper {
  background-image: image-url('flower.jpg');
  color: white;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-top: 20px;
}

.resistration-btn {
  transition: all 1s;
  box-shadow: 0 5px gray;
  cursor: pointer;
}

.resistration-btn:active {
  background-color: gray;
  box-shadow: none;
  position: relative;
  top: 3px;
}

.wrapper h1 {
  color: red;
}